.Sharephe-MainContentPad {
    padding: 1.5rem 0 4.0rem 0;
}

/*** phenotype tab ***/

table#Sharephe-WorkbookTable {
    border: 1px solid dimgray;
    border-collapse: collapse !important;
}

table#Sharephe-WorkbookTable th {
    border: 1px solid dimgray;
    text-align: inherit;
    text-align: -webkit-match-parent;
    padding: 0.5rem;
    vertical-align: top;
    background-color: #216288 !important;
    color: lightgrey;
}

table#Sharephe-WorkbookTable td {
    border: 1px solid dimgray;
    padding: 0.5rem;
    vertical-align: top;
}

table#Sharephe-WorkbookTable tr:hover td {
    background-color: #DCDCDC;
}

#Sharephe-WorkbookTable_paginate {
    padding-top: 20px;
}

#Sharephe-WorkbookTable_filter {
    padding-bottom: 10px;
}

/*** workbook tab ***/

#Sharephe-PhenoName {
    padding: 7px 10px;
    background: #e5e5e5;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #63758C;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    min-height: 16px;
    color: #314455;
}
