{% extends "base.html" %}

{% block title %}Phenotype{% endblock %}

{% block links %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='datatables/datatables.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='highlight/styles/googlecode.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/phenotype.css') }}" />
{% endblock %}

{% block nav %}
<li class="nav-item"><a href="{{ url_for('views.index') }}" class="nav-link" aria-current="page">Home</a></li>
<li class="nav-item"><a href="{{ url_for('views.phenotype') }}" class="nav-link active">Phenotypes</a></li>
<li class="nav-item"><a href="" class="nav-link">Installation Guide</a></li>
<li class="nav-item"><a href="" class="nav-link">Release Notes</a></li>
<li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
{% endblock %}

{% block content %}
<section>
    <div class="content">
        <header>
            <h2>Computable Phenotypes</h2>
        </header>
    </div>
    <ul class="nav nav-tabs" id="tabView" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="phenotype-tab" data-bs-toggle="tab" data-bs-target="#phenotype-tab-pane"
                    type="button" role="tab" aria-controls="phenotype-tab-pane" aria-selected="true">Phenotypes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link disabled" id="workbook-tab" data-bs-toggle="tab" data-bs-target="#workbook-tab-pane"
                    type="button" role="tab" aria-controls="workbook-tab-pane" aria-selected="false">Workbook</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link disabled" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-tab-pane"
                    type="button" role="tab" aria-controls="detail-tab-pane" aria-selected="false">Query Details</button>
        </li>
    </ul>
    <div class="tab-content" id="tabViewContent">
        <div class="tab-pane fade show active" id="phenotype-tab-pane" role="tabpanel" aria-labelledby="phenotype-tab"
             tabindex="0">
            <div class="Sharephe-MainContentPad">
                <div class="card shadow" id="Sharephe-WorkbookList">
                    <div class="card-header d-flex justify-content-between align-items-center Sharephe-Border">
                        <h6 class="m-0 Sharephe-PhenoTitle">Phenotypes</h6>
                        <nav class="navbar navbar-expand-sm m-0 p-0">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <button id="syncFromCloudBtn" class="btn btn-primary">
                                                <i class="bi bi-cloud-download-fill"></i> Sync From Cloud
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="card-body Sharephe-Border">
                        <div class="table-responsive py-4">
                            <table id="Sharephe-WorkbookTable" class="table table-sm" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Workbook ID</th>
                                        <th>Type</th>
                                        <th>Title</th>
                                        <th>Authors</th>
                                        <th>Institution</th>
                                        <th>Files</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="workbook-tab-pane" role="tabpanel" aria-labelledby="workbook-tab" tabindex="0">
            <div class="Sharephe-MainContentPad">
                <div class="card shadow" id="Sharephe-WorkbookCard">
                    <div class="card-header d-flex justify-content-between align-items-center Sharephe-Border">
                        <h6 class="m-0 Sharephe-PhenoTitle Sharephe-PhenoName">Phenotype Workbook</h6>
                    </div>
                    <div class="card-body Sharephe-Border" id="Sharephe-UploadFormArea">
                        <form id="Sharephe-UploadForm" action="">
                            <table id="Sharephe-Upload" class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">{{form.workbook_id.label}}:</th>
                                        <td>{{form.workbook_id(class="form-control", disabled="disabled", readonly="readonly")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{{form.workbook_type.label}}:</th>
                                        <td>{{form.workbook_type(class="form-select", disabled="disabled")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{{form.workbook_title.label}}:</th>
                                        <td>{{form.workbook_title(class="form-control", disabled="disabled", readonly="readonly")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{{form.workbook_authors.label}}:</th>
                                        <td>{{form.workbook_authors(class="form-control", disabled="disabled", readonly="readonly")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{{form.workbook_institution.label}}:</th>
                                        <td>{{form.workbook_institution(class="form-control", disabled="disabled", readonly="readonly")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="vertical-align: text-top">Supporting Attachments:</th>
                                        <td>
                                            <div id="Sharephe-AttachedFileList"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="vertical-align: top;">Queries:</th>
                                        <td>
                                            <table id="Sharephe-QueryDropArea">
                                                <tbody></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="detail-tab-pane" role="tabpanel" aria-labelledby="detail-tab" tabindex="0">
            <div class="Sharephe-MainContentPad">
                <div class="card shadow" id="Sharephe-DetailCard">
                    <div class="card-header d-flex justify-content-between align-items-center Sharephe-Border">
                        <h6 class="m-0 Sharephe-PhenoTitle Sharephe-PhenoName">Phenotype Concepts</h6>
                        <nav class="navbar navbar-expand-sm m-0 p-0">
                            <div class="container-fluid">
                                <div class="input-group flex-nowrap me-3">
                                    <label class="form-label m-1 me-2" for="Sharephe-DataFormat">Data Format:</label>
                                    <select class="form-select form-select-sm" id="Sharephe-DataFormat">
                                        <option value="csv" selected="selected">CSV</option>
                                        <option value="json">JSON</option>
                                    </select>
                                </div>
                                <div class="collapse navbar-collapse">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="copyToClipboard" aria-current="page" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard">
                                                <i class="bi bi-clipboard" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="exportToFile" aria-current="page" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Export to file">
                                                <i class="bi bi-file-arrow-down" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="card-body Sharephe-Border">
                        <div id="Sharephe-Details"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block foot_html %}
<div class="modal fade" id="Sharephe-ProgressModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="Sharephe-ProgressModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Sharephe-ProgressModalTitle">Progress</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Sharephe-MessageModal" tabindex="-1" aria-labelledby="Sharephe-MessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Sharephe-MessageModalLabel">Message Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="Sharephe-MessageModalMessage">Message</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Sharephe-QueryViewModal" tabindex="-1" aria-labelledby="Sharephe-QueryViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="Sharephe-QueryViewModalLabel">Query Title</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-secondary">
                <div class="card">
                    <div class="card-body">
                        <div class="float-end">
                            <a class="nav-link active" id="copyToClipboardQuery" aria-current="page" href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard">
                                <i class="bi bi-clipboard" aria-hidden="true"></i>
                            </a>
                        </div>
                        <pre><code id="Sharephe-QueryViewModalMessage" class="language-xml"></code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='xml-beautify/XmlBeautify.js') }}"></script>
<script src="{{ url_for('static', filename='highlight/highlight.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/hive_helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>
<script src="{{ url_for('static', filename='js/query-xml.js') }}"></script>
<script src="{{ url_for('static', filename='js/phenotype.js') }}"></script>
<script>hljs.highlightAll();</script>
<script>
    let spinGifUrl = "{{ url_for('static', filename='images/spin.gif') }}";

    $(document).ready(function () {
        let datatable = $('#Sharephe-WorkbookTable').DataTable();

        const tooltips = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltips].map(tooltip => new bootstrap.Tooltip(tooltip));

        $("#syncFromCloudBtn").click(function () {
            syncFromCloud(datatable);
        });

        $(document).on('click', '#Sharephe-WorkbookTable tr', function () {
            let phenotypeId = this.cells[0].innerHTML;
            fetchWorkbook(phenotypeId);
        });

        document.querySelectorAll('#tabView button').forEach(tab => {
            tab.addEventListener('show.bs.tab', handleTabEventListener);
        });

        $('#copyToClipboard').click(function () {
            copyDetailsToClipboard();

            const tooltip = bootstrap.Tooltip.getInstance('#copyToClipboard');
            tooltip.setContent({'.tooltip-inner': 'Copied!'});
            setTimeout(() => {
                tooltip.setContent({'.tooltip-inner': 'Copy to clipboard'});
            }, 2000);
        });

        $('#copyToClipboardQuery').click(function () {
            copyQueryXmlToClipboard(document.getElementById("Sharephe-QueryViewModalMessage").textContent);

            const tooltip = bootstrap.Tooltip.getInstance('#copyToClipboardQuery');
            tooltip.setContent({'.tooltip-inner': 'Copied!'});
            setTimeout(() => {
                tooltip.setContent({'.tooltip-inner': 'Copy to clipboard'});
            }, 2000);
        });

        $('#exportToFile').click(function () {
            exportDetailsToFile();
        });

        $("#syncFromCloudBtn").click();
    });
</script>
{% endblock %}