{% extends "base.html" %}

{% block title %}Phenotype{% endblock %}

{% block links %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='datatables/datatables.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/phenotype.css') }}" />
{% endblock %}

{% block nav %}
<li class="nav-item"><a href="{{ url_for('views.index') }}" class="nav-link" aria-current="page">Home</a></li>
<li class="nav-item"><a href="{{ url_for('views.phenotype') }}" class="nav-link active">Phenotypes</a></li>
<li class="nav-item"><a href="" class="nav-link">Installation Guide</a></li>
<li class="nav-item"><a href="" class="nav-link">Release Notes</a></li>
<li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
{% endblock %}

{% block content %}
<section>
    <div class="content">
        <header>
            <h2>Computable Phenotypes</h2>
        </header>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="phenotype-tab" data-bs-toggle="tab" data-bs-target="#phenotype-tab-pane"
                    type="button" role="tab" aria-controls="phenotype-tab-pane" aria-selected="true">Phenotype</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link disabled" id="workbook-tab" data-bs-toggle="tab" data-bs-target="#workbook-tab-pane"
                    type="button" role="tab" aria-controls="workbook-tab-pane" aria-selected="false">Workbook</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link disabled" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-tab-pane"
                    type="button" role="tab" aria-controls="detail-tab-pane" aria-selected="false">Detail</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="phenotype-tab-pane" role="tabpanel" aria-labelledby="phenotype-tab"
             tabindex="0">
            <div class="Sharephe-MainContentPad">
                <button id="syncFromCloudBtn" class="btn btn-primary mb-4">
                    <i class="bi bi-cloud-download-fill"></i> Sync From Cloud
                </button>
                <div class="card shadow mt-2 mb-4" id="Sharephe-WorkbookList">
                    <div class="card-body">
                        <div class="table-responsive py-4">
                            <table id="Sharephe-WorkbookTable" class="table table-sm" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Workbook ID</th>
                                        <th>Type</th>
                                        <th>Title</th>
                                        <th>Authors</th>
                                        <th>Institution</th>
                                        <th>Files</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="workbook-tab-pane" role="tabpanel" aria-labelledby="workbook-tab" tabindex="0">
            <div class="Sharephe-MainContentPad">
                <div class="card shadow" id="Sharephe-WorkbookCard">
                    <div class="card-header d-flex justify-content-between align-items-center Sharephe-Border">
                        <div id="Sharephe-PhenoName">Phenotype Workbook</div>
                    </div>
                    <div class="card-body Sharephe-Border" id="Sharephe-UploadFormArea">
                        <form id="Sharephe-UploadForm" action="">
                            <table id="Sharephe-Upload" class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">{{form.workbookId.label}}:</th>
                                        <td>{{form.workbookId(class="form-control", disabled="disabled", readonly="readonly")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{{form.workbookType.label}}:</th>
                                        <td>{{form.workbookType(class="form-select", disabled="disabled")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{{form.workbookTitle.label}}:</th>
                                        <td>{{form.workbookTitle(class="form-control", disabled="disabled", readonly="readonly")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{{form.workbookAuthors.label}}:</th>
                                        <td>{{form.workbookAuthors(class="form-control", disabled="disabled", readonly="readonly")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">{{form.institution.label}}:</th>
                                        <td>{{form.institution(class="form-control", disabled="disabled", readonly="readonly")}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="vertical-align: text-top">Supporting Attachments:</th>
                                        <td>
                                            <div id="Sharephe-AttachedFileList"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="vertical-align: top;">Queries:</th>
                                        <td>
                                            <table id="Sharephe-QueryDropArea">
                                                <tbody></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="detail-tab-pane" role="tabpanel" aria-labelledby="detail-tab" tabindex="0">
            Detail
        </div>
    </div>
</section>
{% endblock %}

{% block foot_html %}
<div class="modal fade" id="Sharephe-ProgressModal" data-bs-backdrop="static" tabindex="-1"
     aria-labelledby="Sharephe-ProgressModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Sharephe-ProgressModalTitle">Progress</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Sharephe-MessageModal" tabindex="-1" aria-labelledby="Sharephe-MessageModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Sharephe-MessageModalLabel">Message Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="Sharephe-MessageModalMessage">Message</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/hive_helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/phenotype.js') }}"></script>
{% endblock %}