{% extends "base.html" %}

{% block title %}Sharephe{% endblock %}

{% block nav %}
<li class="nav-item"><a href="" class="nav-link active" aria-current="page">Home</a></li>
<li class="nav-item"><a href="phenotype" class="nav-link">Phenotype</a></li>
<li class="nav-item"><a href="#" class="nav-link">Installation Guide</a></li>
<li class="nav-item"><a href="#" class="nav-link">Release Notes</a></li>
<li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
{% endblock %}

{% block content %}
<section id="banner">
    <div class="content">
        <header>
            <h2>A Computable Phenotype Library Plugin using i2b2 Ontologies</h2>
        </header>
    </div>
    <span class="image object">
        <img src="{{ url_for('static', filename='images/pic10.png') }}" alt="Sharephe Diagram" />
    </span>
</section>
<hr class="pb-4" />
<div class="features">
    <article>
        <span class="icon bi bi-hdd-stack-fill"></span>
        <div class="content">
            <h3>Executable Phenotypes</h3>
            <p>Sharephe follows i2b2 design pattern, leverages i2b2's robust query language, using ACT i2b2 query
                ontology that has coverage for many standard data domains and terminologies to facts.</p>
        </div>
    </article>
    <article>
        <span class="icon bi bi-cloud-arrow-down-fill"></span>
        <div class="content">
            <h3>Cross-Site Collaboration</h3>
            <p>Sharephe consists of a server cell called SharepheCloud, handles all communications and movements of data
                between plugin and Amazon AWS cloud server.</p>
        </div>
    </article>
    <article>
        <span class="icon bi bi-file-text"></span>
        <div class="content">
            <h3>Human Readable Data Form</h3>
            <p>Sharephe consists of Sharephe Ontology cell, augments i2b2's core ontology cell. It contains methods to
                efficiently traverse the ontology to collect codes in the queries and translate into human readable form
                and to extra data modalities. </p>
        </div>
    </article>
    <article>
        <span class="icon bi bi-database-fill"></span>
        <div class="content">
            <h3>Cross-Model Supportive</h3>
            <p>Sharephe converts i2b2 query into several common data models like OHDSI/OMOP and PCORI CDM in addition to
                standard HL7 Clinical Quality Language (CQL).</p>
        </div>
    </article>
    <article>
        <span class="icon bi bi-browser-chrome"></span>
        <div class="content">
            <h3>Website for Non-i2b2 Users</h3>
            <p>Create web app to interact to support user browsing computable phenotypes outside of the i2b2 application
                and download of computable phenotypes for other common data models(OMOP, PCORI CDM, etc).</p>
        </div>
    </article>
    <article>
        <span class="icon bi bi-bar-chart-line-fill"></span>
        <div class="content">
            <h3>Data Visualizations</h3>
            <p>Create supportive plugins for creating control sets, allowing NLP criteria and simple data
                characterization visualizations.</p>
        </div>
    </article>
</div>
{% endblock %}