{% extends "base.html" %}

{% block title %}Sharephe{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="/">Sharephe</li>
{% endblock %}

{% block main %}
<section id="banner">
    <div class="content">
        <header>
            <h2>A Computable Phenotype Library Plugin using i2b2 Ontologies</h2>
        </header>
    </div>
    <span class="image object">
        <img src="{{ url_for('static', filename='images/pic10.png') }}" alt="" />
    </span>
</section>
{% endblock %}