.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.bi {
    vertical-align: -.125em;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #e18a07;
}
.nav-tabs {
    --bs-nav-tabs-border-width: 2px;
    --bs-nav-tabs-border-color: #e18a07;
    --bs-nav-tabs-link-active-border-color: #e18a07 #e18a07 #fff;
}

#header {
    border-bottom: solid 5px #e18a07;
}
